BOT_TOKEN=token
WEBHOOK_URL=https://java-rush-bot.calc.press
WEBHOOK_PATH=/webhook
WEBHOOK_PORT=8082
AI_BASE_URL=https://api.deepseek.com
AI_TOKEN=token
AI_MODEL=deepseek-chat

# Домен бота (без протокола) – для Traefik
BOT_DOMAIN=java-rush-bot.calc.press